name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - gh-pages
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
      - name: Check Flutter version
        run: flutter --version
 
      - name: Build Flutter Web
        run: flutter build web

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MEDICINE_WAREHOUSE_MANAGEMENT }}
          channelId: live
          projectId: medicine-warehouse-management
